*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;

}
.recent-played-list{
    margin: 20px;
    display: flex;
    justify-content:left;
   align-items: center;
}
.recent-played-list img{
    border-radius: 10%; 
    margin: 20px;  
}
.recent-played-list img:hover{
      transform:scale(1.1);
      margin-bottom: 10px;
      cursor: pointer;
}
.textTitle{
    margin-left: 30px;
    font-size: 25px;
}

@media (max-width: 768px) {
    .recent{
        display: none;
    }
}
.liked-container{
    display: flex;
}
