
.container {
  width: 100vw;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(29, 29, 36); 
  margin-bottom: 40px;
}

.Footer-header{
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.content {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.content h2{
  color: white;
}
.footer {
    background-color: rgb(29, 29, 36);
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-section {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .footerImg img{
    position: absolute;
    border-radius: 50%;
  
  }
  .footerImg h2{
   
    margin-left: 80px;
  }
  .footer h2 {
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .footer p {
    font-size: 13px;
    margin: 0px;
    color: hwb(30 77% 22%)
  }


.download-links {
  margin-bottom: 20px;
}

.download-link {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.download-link img {
  width: 150px;
  height: auto;
}


.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.footer-links hr {
  border: 1px solid white;
  width: 40%;
  margin: 10px 0;
}

.footer-links a {
  text-decoration: none;
  color: white;
  margin: 5px 0;
  font-size: 14px;
}


.footer-description {
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
}


.copyright {
  margin-top: 20px;
  font-size: 12px;
}


.social-icons {
  margin-top: 20px;
}

.icon-link {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-size: 24px;
  margin-left: 70px;
 
}
@media screen and (max-width: 480px) {
  .footer-description {
    display: none;
  }
  .social-icons{
    display: none;
  }
}
/* @media screen and (max-width: 768px) {
  .footer-links {
    flex-direction: row;
    justify-content: center;
   
  }
  .footer-description {
    font-size: 14px; 
  }
  .footer-links a {
    margin: 0 15px;
    padding: 0 10px;
  }
} */





