
.container {
  width: 100vw;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(29, 29, 36); 
  margin-bottom: 40px;
}

.Footer-header{
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.content {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.content h2{
  color: white;
}
.footer {
    background-color: rgb(29, 29, 36);
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-section {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  .footerImg img{
  margin-left: 240px;
  margin-top: -20px;
    position: absolute;
  
    border-radius: 50%;
  
  }
  
  .footer h2 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer p {
    margin: 0;
    color: hwb(30 77% 22%)
  }
  
  .download-links a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
.footer-links{
  display: flex;
 justify-content: space-between;
}
  .footer-links a {
  
    margin-right: 15px;
    text-decoration: none;
    color: #007bff;
  
  }
  
  .footer-links a:last-child {
    margin-right: 0;
  }
  
  .footer p:last-child {
    margin-top: 20px;
    color: hwb(0 76% 23% / 0.932);
    font-size: 15px;
  }
  
  .footer p:last-child a {
    color: #007bff;
  }
  /* ... Previous styles ... */

.social-icons {
    margin-top: 20px;
  }
  
  .icon-link {
    font-size: 24px;
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
  }
   



