.cards,  .artistImg{
    border-radius:16px;
    display: flex;
    justify-content:center;
    overflow: hidden;
    position: relative;
    margin: 5px 0 10px 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px white;
}
.title ,.artistName{
    font-size: 17px;
    text-align: center;
    font-family: Cambria;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 100;
}
.cards-body{
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    right: -150%;
    position: absolute;
    background-color: rgb(59, 57, 57);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}
.cards :hover{

   transform: scale(1.1);
}
.cards:hover .cards-body{
    right: 0;
    background-color: transparent;

}
.control-button-centerM{
    width: 40px;
    margin-left: 40%;
    border: 1px solid rgb(227, 46, 45);
    background: white;
    border-radius: 50%;
    color: red;
    cursor: pointer;
    padding: 5px;   
  }
 
