
.music-player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgb(82, 80, 80);
  color: #fff;
  padding: 15px 5px 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: groove;
  z-index: 1;
  cursor: pointer;
}

.image {
  border-radius: 20%;

  max-width: 50px; 
  max-height: 50px; 
}

.song-title {
  font-size: 15px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.artist {
  font-size: 13px;
  color: black;
}

.span {
  font-size: 25px;
  cursor: pointer;
}

.like-span {
  color: red;
}
.volume-control {
  display: flex;
  align-items: center;
  gap: 8px;
}

.controls {
  display: flex;
  align-items: center;
}


.control-button {
 
  max-width: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  transition: color 0.3s ease;
}

.control-button-center {
  background-color: rgb(227, 46, 45);
  border: none;
  padding: 5px;
  margin: 0 30px 0 30px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.slider-container {
    width: 60%;
  display: flex;

}

.time-display {
  display: flex;
  font-size: 12px;
margin-left: 20px;
}

.rc-slider-handle {
  border: 2px solid rgb(227, 46, 45);
  background-color: rgb(227, 46, 45);
}

.rc-slider-track {
  background-color: rgb(227, 46, 45);
}

.rc-slider-rail {
  background-color: #333;
}
@media (max-width: 600px) {
  .slider-container {
    flex-direction: column; 
    align-items: center; 
  }

  .time-display {
    display: flex;
    margin-top: 5px;
    margin-left: -40px;
  }
}
@media (max-width: 1000px) {
  .slider-container {
    flex-direction: column; 
    align-items: center; 
  }

  .time-display {
    display: flex;
    margin-top: 5px;
    margin-left: -40px;
  }
}