.navbar {
  width: 100%;
  transition: transform 0.3s ease-in-out; 
  z-index: 100; 
  
}

.nav-1 {
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: rgb(30, 29, 29);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 10px 120px;

}

.logoText {
  display: flex;
  align-items: center;
}

.logoText img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-right: 10px;
}


.search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
 position: relative;
}

.searchIcon{
  position:absolute;
  right: 15px;

}
.search input {
  color: white;
  background-color: rgb(41, 41, 41);
  font-size: 17px;
  width: 42%;
  height: 40px;
  border: 1px solid rgb(104, 102, 102);
  border-radius: 50px;
  padding-left: 20px;
  margin-left: 55%;
}

.loginBtn {
  display: flex;
  align-items: center;
}

.loginBtn h2 {
  margin-left: 10px;
}
.mobile_myList{
  display: none !important;
}
.mobile_model{
  display: none !important;
}


.nav-2 {
  height: 30px;
  background-color: rgb(29, 29, 36);
  display: flex;
  align-items: center;
  padding: 10px 110px;
   
}

.nav-2 select {
  margin-right: 15px;
  background: transparent;
  color: rgb(179, 175, 175);
  font-size: 18px;
  border: none;

  cursor: pointer;
}


.nav-2 div {
  cursor: pointer;
  text-decoration: none;
  color: rgb(179, 175, 175);
  padding: 0px 20px;
  font-size: 18px; 
    margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 480px) {
.subscription{
  display: none ;
}
.music-list{
  display: none !important;
}
.mobile_myList{
  margin:20px !important;
  display: block !important;
}
.mobile_model{
  display: block !important;
}
.logoText{
  margin-right: 300px;
}
.search{
  position: relative;
}
.search input{
  margin-right: 400px;
  width: auto;
  position: absolute;
}
.searchIcon{
  right: 100px;

}
.loginBtn{
  position:absolute;
  right: 20px;
}
.nav-2 {
position: relative;
padding: 0 18px;

}
.nav-2 div, .nav-2 select{
  font-size: 10px;
  margin: 20px;
 padding: 0;
 
}
}
@media screen and (min-width: 481px) and (max-width: 719px) {
  .subscription{
    display: none ;
  }
  .music-list{
    display: none !important;
  }
  .mobile_myList{
    margin:20px !important;
    display: block !important;
  }
  .mobile_model{
    display: block !important;
  }
  .logoText{
    margin-right: 310px;
  }
  .search{
    position: relative;
  }
  .search input{
    margin-right: 320px;
    width: auto;
    position: absolute;
  }
  .searchIcon{
    right: 75px;
  }
  .loginBtn{
    position:absolute;
    right: 20px;
  }
  .nav-2 {
  position: relative;
  padding: 0 18px;
  
  }
  .nav-2 div, .nav-2 select{
    font-size: 15px;
    margin: 20px;
   padding: 0;
   
  }
}
@media screen and (min-width: 720px) and (max-width: 1024px) {
  .subscription {
    display: none;
  }
  
  .music-list {
    display: none !important;
  }
  .mobile_model{
    display: block !important;
  }
  .mobile_myList {
  display: block !important;
  }
  
  .mobile_model {
   display: none;
  }
  .logoText{
 
    margin-left: -30px;
  }
  .search{
    position: relative;
  }
  .search input{
   margin-right: 150px;
    width: auto;
    position: absolute;
  }
  .searchIcon{
right: 60px;
  }
  .loginBtn{
    position:absolute;
    right: 80px;
  }
  .nav-2 {
    position: relative;
    padding: 0 60px;
    
    }
    .nav-2 div, .nav-2 select{
    
      margin: 20px;
     padding: 0;
     
    }

}
