

.nav-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 10px; */
    background-color: rgb(58, 58, 58);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
  }
  
  .logoText {
    display: flex;
    align-items: center;

  }
  
  .logoText img {
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  .logoText h2 {
    margin: 0;
    font-size: 2rem;
  }
  
  .search {
    display: flex;
    align-items: center;
    margin-left: 200px;
  }
  
  .search input {
    color: white;
    background-color: transparent;
    font-size: 17px;
    width: 400px;
    margin-top: 20px;
    height: 40px;
    margin: 20px;
    border-radius: 50px;
  }
  .subscription{
    margin-left: 150px;
  }
.user{
    margin-left: 80px;
}
.nav-2{
  height: 60px;
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-2 select{
  margin-right: 30px;
  padding: 8px;
  border-radius: 10px;
}
.nav-2 a {
   text-decoration: none;
  color: white;
  padding: 0px 40px;
  font-size: 20px;

}
   
  