
.nav-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(30, 29, 29);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 10px;
  }
  
  .logoText {
    display: flex;
    align-items: center;

  }
  
  .logoText img {
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  .logoText h2 {
    margin: 0;
    font-size: 2rem;
  }
  
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
  }
  
  .search input {
    color: white;
    background-color: transparent;
    font-size: 17px;
    width: 350px;
    height: 45px;
    margin: 20px;
    border: 1px solid rgb(104, 102, 102);
    border-radius: 50px;
  }
 
.loginBtn{
  margin-right: 30px;
}
.nav-2{
  height: 60px;
  background-color: rgb(29, 29, 36);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-2 select{
  margin-right: 30px;
  padding: 8px;
  border-radius: 10px;
}
.nav-2 a {
   text-decoration: none;
  color: white;
  padding: 0px 40px;
  font-size: 20px;

}
   
  