
.slider-container {
  position: relative;
margin: 0px !important;
margin-top: 20px;
}

.image-container {
  margin-top: 130px;
  display: flex;
  gap: 1rem;
  padding: 1rem 0.75rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  background-color: rgb(29, 29, 36);
}

.images {
  width: 80%; 
  height: auto; 
  border-radius: 10px;
  cursor: pointer;
}

.image-container::-webkit-scrollbar {
  display: none; 
}

.slider-icon {
 width: 20px !important;
 height: 20px !important;
  padding: 10px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left {
  margin-top: 80px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.right {
  margin-top: 80px;
  right:0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.slider-icon-2{
  width: 20px !important;
  height: 20px !important;
  padding: 10px;
  cursor: pointer;
  color: white;
  /* position: absolute; */

}

  .slider-container-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }
  .image-container-2{
    display: flex;
    gap: 2rem;
    scroll-behavior: smooth;
    padding: 1rem 0.75rem;
    overflow-x: auto;
    background-color: rgb(29, 29, 36);
  }
  .image-container-2::-webkit-scrollbar {
    display: none;
  }



