
.slider-container {
    position: relative;
  }
  
  .image-container {
    display: flex;
    gap: 1rem;
    scroll-behavior: smooth;
    padding: 1rem 0.75rem;
    overflow-x: auto;
    background-color: rgb(29, 29, 36);
  }
  .images{
    width: 150%;
  }
  .image-container::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }
  .slider-icon {
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }
  .images{
    height: 300px;
    width: 700px;
    border-radius: 10px;
  }

  .slider-container-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
   /* height: 400px; */
  }
  .image-container-2{
    display: flex;
    gap: 2rem;
    scroll-behavior: smooth;
    padding: 1rem 0.75rem;
    overflow-x: auto;
    background-color: rgb(29, 29, 36);
  }
  .image-container-2::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }
  .slider-icon {
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
    color: white;
    top: 50%;
    transform: translateY(-50%);
  }