
.crown-logo img {
  width: 50px;
position: absolute;
margin-top: -55px;
margin-left: 150px;
  border-radius: 50px;

}
.MuiPaper-root{
  max-width: 1000px !important;
 
}

.css-ypiqx9-MuiDialogContent-root{
overflow-y: hidden !important;
}
.premium-offer {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.benefits-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.benefits-cell {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-weight: bold;
}

.tick-mark {
  color: green;
}

.subscription-plans {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.plan {
  margin: 10px;
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgb(223, 149, 196);
  border-radius: 10px;
  background-color: #fff;
  text-align: center;

}



.plan:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.plan h6 {
  color: #333;
  margin-bottom: 10px;
}

.valid-till {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.gst-message,
.terms-policy {
  text-align: left;
  margin-top: 20px;
  list-style: none;
  color: #666;
}

.gst-message li,
.terms-policy li {
  margin: 5px 0;
  font-size: 14px;
}


.amount-to-be-paid {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.modal-footer{
  margin-bottom: 10px;
  overflow-y: hidden !important;
}
@media only screen and (min-width: 200px) and (max-width: 400px) {
.subscription-text{
  font-size: 15px !important;
  margin-left: 150px !important;
}
}